.title_fav {
  margin: 40px 10px 10px 10px;
}
.fav1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.fav1 img {
  height: 100px;
  width: 300px;
  object-fit: cover;
  object-position: center top;
  padding: 0 10px;
}
.tit_fav1 {
  text-align: center;
  font-size: 13px;
  color: white;
  border: black;
}
.tit_fav2 {
  visibility: hidden;
}
.img_fav {
  display: none;
}
@media (min-width: 768px) {
  .fav1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .fav1 img {
    height: 150px;
  }
  .fav1 {
    width: 300px;
    position: relative;
    flex: none;
  }
  .tit_fav1 {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  .tit_fav2 {
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: white;
  }

  .fav1:hover .tit_fav1 {
    visibility: visible;
  }
  .fav1:hover .tit_fav2 {
    visibility: visible;
  }
  #img_fav {
    display: block;
    position: absolute;
    bottom: 0;
    right: 13px;
    width: 40px;
    height: 40px;
    padding: 0 0 0 8px;
  }
}
