h1 {
  margin: 50px 10px;
  border: 0;
  font-family: type_web;
  font-size: 50px;
  color: white;
}
.destacados {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.destacado1,
.destacado2,
.destacado3,
.destacado4 {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .destacados {
    display: flex;
    flex-direction: row;
    width: 25%;
  }
  .destacado1,
  .destacado2,
  .destacado3,
  .destacado4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}
